blinker==1.6.3
certifi==2023.7.22
click==8.1.7
Flask==3.0.0
geos==0.2.3
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
Pillow==10.1.0
protobuf==3.11.1
pyatlas==5.8.9
pyproj==3.6.1
six==1.16.0
Werkzeug==3.0.1